.appWrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.navWrapper {
  display: flex;
}
.header {
  background-color: red;
  margin-bottom: 10px;
}
.nav {
  grid-area: nav;
  background-color: aqua;
  display: flex;
  flex-direction: column;
}
.mainContent {
  flex: 1;
  margin-left: 10px;
  background-color: green;
}
