.mainContainer {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.dialogItems {
    color: cornsilk;
}

.item {

}

.active {
    color: deeppink;
}


.messages {
    color: white;
}

.message {
}